@media print {
    .pagebreak {
        page-break-before: always;
    }

    /* Hide telescope toolbar */
    .sf-toolbar {
        display: none !important;
    }

    .hide-on-print {
        visibility: hidden !important;
    }

    .show-on-print {
        visibility: visible !important;
    }

    .print-only {
        display: block !important;
    }

    .no-print {
        display: none !important;
    }
}

* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

html, body {
    margin: 0;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 480pt;
}

tr, td {
    height: 14.6125pt;
}

.print-only {
    display: none;
}

.no-print {
    display: block;
}

.hide-on-print {
    visibility: visible;
}

.show-on-print {
    visibility: hidden;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.absent {
    background: #F38c8c77;
    border-color: transparent !important;
}

.empty {
    background: #777777CC;
    border-color: transparent !important;
}

.weekend {
    background: #33333344;
    border-color: transparent !important;
}

.holiday {
    background: #7469B655;
    border-color: transparent !important;
}

.invalid {
    background-color: #FF6D2844 !important;
}

.scanner {
    display: flex;
    justify-content: space-between;
}

.arial {
    font-family: Bitter;
}

.bahnschrift {
    font-family: Roboto;
}

.bahnschrift-light {
    font-family: Ubuntu;
}

.cascadia {
    font-family: Sono;
}

.consolas {
    font-family: Cousine;
}

.courier {
    font-family: Lekton;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}

.middle {
    vertical-align: middle;
}

.font-xxs {
    font-size: 6.0pt;
}

.font-xs {
    font-size: 8.0pt;
}

.font-sm {
    font-size: 10.0pt;
}

.font-md {
    font-size: 11.0pt;
}

.font-lg {
    font-size: 13.0pt;
}

.font-xl {
    font-size: 20.0pt;
}

.nowrap {
    white-space: nowrap;
}

.wrap {
    white-space: normal;
}

.midline {
    border-top: none;
    border-right: .5pt dashed windowtext;
    border-bottom: none;
    border-left: none;
}

.border {
    border: .5pt solid windowtext;
}

.overline {
    border-top: .5pt solid windowtext;
}

.underline {
    border-bottom: .5pt solid windowtext;
    text-decoration: none;
}

.undertime-badge {
    position:absolute;
    top:0pt;
    right:0pt;
    color:red;
    border-radius: 999999999pt;
    background-color: #FFF9;
    width: 10pt;
    height: 10pt;
    font-size: 6pt;
    font-weight: 900;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.non-same-day-badge {
    position:absolute;
    bottom:-2.5pt;
    right:0pt;
    color:#333C;
    width: 10pt;
    height: 10pt;
    font-size: 6pt;
    font-weight: 900;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
