@page {
    margin: 10mm;
    scale: 100%;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }

    /* Hide telescope toolbar */
    .sf-toolbar {
        display: none !important;
    }
}

* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

html, body {
    margin: 0;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 480pt;
}

tr, td {
    height: 15pt;
}

.absent {
    background: #F38c8caa;
    border-color: transparent !important;
    text-decoration: line-through;
}

.weekend {
    background: #33333344;
    border-color: transparent !important;
}

.scanner {
    border-right: solid;
    border-color: white;
    padding-left: 8pt;
}

.arial {
    font-family: Arial, sans-serif;
}

.bahnschrift {
    font-family: Bahnschrift, sans-serif;;
}

.bahnschrift-light {
    font-family: "Bahnschrift Light", sans-serif;
}

.cascadia {
    font-family: "Cascadia Code", monospace;
}

.consolas {
    font-family: Consolas, monospace;
}

.courier {
    font-family: "Courier New", monospace;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bottom {
    vertical-align: bottom;
}

.middle {
    vertical-align: middle;
}

.font-xs {
    font-size: 8.0pt;
}

.font-sm {
    font-size: 10.0pt;
}

.font-md {
    font-size: 11.0pt;
}

.font-lg {
    font-size: 13.0pt;
}

.font-xl {
    font-size: 20.0pt;
}

.nowrap {
    white-space: nowrap;
}

.wrap {
    white-space: normal;
}

.midline {
    border-top: none;
    border-right: .5pt dashed windowtext;
    border-bottom: none;
    border-left: none;
}

.border {
    border: .5pt solid windowtext;
}

.overline {
    border-top: .5pt solid windowtext;
}

.underline {
    border-bottom: .5pt solid windowtext;
}
